
body {
    font-family: Arial, sans-serif;
    background-color: #bdaeae;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    margin-top: 0;
    color: #333;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="tel"],
form button {
    width: calc(100% - 10px); 
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="tel"] {
    background-color: #f9f9f9;
}

form button {
    background-color: #8013ae;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

.studentGender {
    margin-bottom: 15px;
}

.studentGender label {
    margin-right: 10px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

